---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<html lang="jp">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>{title}</title>
	</head>
	<body>
		<div class="flex">
			<div class="flex w-20"></div>
			<div class="flex auto" >
				<article>
					<slot />
				</article>
			</div>
			<div class="flex w-20"></div>
		</div>
	</body>
</html>
